<%- include('../layout/header.ejs'); %>
 <% if(typeof message !=='undefined'){
  %>
     <p style="color:green;"><%= message%></p>
  <%
 }
%>

<div class="container">
 <div class="row">
  <div class="col-md-6">
     <h3>Forget Password</h3>
<form action="/forget" method="POST" >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  
  
  <button type="submit" class="btn btn-primary">Send Link</button>
</form>
  </div>
 </div>
</div>
 



<%- include('../layout/footer.ejs'); %>